.shows
    background-color: orange
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    min-height: 100vh
    min-width: 100%
    padding: 80px 20px
    background-position: center
    background-size: cover

    .title
        width: 80vw
        max-width: 500px
