nav
    height: 100px
    width: 100%
    z-index: 100
    position: fixed

    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 15px

    .logo, svg
        height: 100%
        width: auto

    .menu, svg
        height: 100%
        width: auto
