nav
    align-items: center
    display: flex
    flex-direction: row
    height: 60px
    justify-content: space-between
    padding: 15px
    position: fixed
    width: 100%
    z-index: 100
    background-color: black

    .logo, .menu-button
        height: 100%

        svg
            height: 100%
            width: auto

    .menu-button
        cursor: pointer
